.contact_body {
    width: 100%;
    height: 100vh;
    background-color: #4A017D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_h2 {
    color: white;
    font-size: 50px;
    margin: 20px;
}

.contact_input {
    width: 300px;
    height: 30px;
    background-color: #4FA0CA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 26px;
    outline: none;
}

.contact_input::placeholder {
    color: white;
}

.contact_textarea {
    width: 620px;
    height: 200px;
    background-color: #4FA0CA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    outline: none;
}

.contact_textarea::placeholder {
    color: white;
}

.contact_btn {
    background-color: #4FA0CA;
    color: white;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 1s;

}

.contact_btn:hover {
    background: transparent;
    border: 2px solid #4FA0CA;
    color: #4FA0CA;
}

.contact_map {
    width: 600px;
    height: 450px;
    border: none;
    border-radius: 10px;
}